*,
:after,
:before {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  max-height: 100%;
  font-family: Verdana, serif;
}

/* top */

.image-top {
  width: auto;
  height: 160px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Top-part {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
}

.text-top-1 {
  font-size: 2rem;
  padding: 10px 2rem;
}

.text-top-2 {
  font-size: 1.2rem;
  padding: 0 2rem;
}

/* Bulletpoint-list */

.Calidat-Bulletpoint-Wrapper {
  margin-top: 2rem;
  text-align: center;
}

.Bulletpoint-text {
  padding: 3px 0;
}

.Calidat-logo {
  rotate: 50deg;
  width: 10rem;
  margin-top: 3rem;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blackToBlue'><feColorMatrix type='matrix' values='0 0 0 0 0  0 0 0 0 1  0 0 0 0 1  0 0 0 1 0' /><feFlood flood-color='rgb(46,149,200)' flood-opacity='1' result='blueLayer'/><feComposite operator='in' in='blueLayer' in2='SourceGraphic' result='final'/></filter></svg>#blackToBlue");
}

.Punkt-1 {
  font-size: 2.6rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

/* bottom */

.bottom-part {
  /* display: flex;
  flex-direction: column; */
  display: block;
  padding: 2rem 1rem;
  margin-top: 5.5em;
  gap: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.bottom-image-1 {
  width: auto;
  max-width: 100%;
}

.bottom-image-2 {
  margin-top: 2rem;
}

.bottom-text-1,
.bottom-text-2 {
  font-size: larger;
  margin-top: 1.5rem;
  text-align: justify;
  padding: 1rem 10px;
}

@media (min-width: 64rem) {
  .image-top {
    height: 500px;
  }

  .text-top-1 {
    font-size: 4.5rem;
  }

  .text-top-2 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .Top-part,
  .Calidat-Bulletpoint-Wrapper,
  .bottom-part {
    padding: 1rem 4rem;
  }

  .Calidat-Bulletpoint-Wrapper {
    display: flex;
    gap: 25%;
    justify-content: center;
  }

  .img-text1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 2rem;
  }

  .img-text2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5.5rem;
    justify-content: space-evenly;
    padding: 0 2rem;
  }

  .bottom-text-1 {
    text-align: left;
    width: 60%;
  }

  .bottom-text-2 {
    text-align: left;
    width: 60%;
  }

  .bottom-image-1 {
    height: 250px;
  }
}

@media (min-width: 80rem) {
  .img-text1,
  .img-text2 {
    max-width: 90%;
    align-items: center;
    gap: 5rem;
  }

  .bottom-text-1,
  .bottom-text-2 {
    width: 100%;
  }
}
